h1 {          /*makes <h1> white with the font impact and makes it aligned in the center*/
  color: white;
  font-family: "Impact";
  text-align: center;
  padding: 200px 0;
}
h2 { /*makes <h2> white with font Trebuchet MS*/
  font-family: "Trebuchet MS";
  color: white
}

body { /*makes <body> background bluish grey*/
  background: #a4b0c4;
  margin:0;
}


body { /*aligns <body> in the center*/
align-items: center;
background-repeat: repeat-x;
background-repeat: repeat-y;
}


ul { /*makes <ul> aligned correctly in the navigation bar*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;

}

li { /*makes <li> aligned on the left*/
  float: left;
}

li a, .dropbtn { /*makes <li <a> into a dropdown bar>*/
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn { /*makes the dropdown bar hover into white background and black text*/
  background-color: white;
  color: black;
}

li.dropdown { /*makes <ul> aligned in the dropdown bar*/
  display: inline-block;
}

.dropdown-content { /*makes the dropdown content aligned in the dropdown bar*/
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a { /*makes the dropdown bar */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover { /*adds black effect to hover feature of the dropdown bar*/
  background-color: black;
  color: white;
}

.dropdown:hover .dropdown-content { /*displays the dropdown bar in a block format*/
  display: block;
}

html {   /*makes the scrolling of the website smooth*/
  scroll-behavior:smooth;
}

#section1 { /*adds barriers to section 1 of scrolling*/
  height: 600px;
  background-color: transparent;
}

#section2 { /*adds barriers to section 2 of scrolling*/
  height: 600px;
  background-color: transparent;
